.Loading {
    /* display: grid; */
    /* background-color: rgba(35, 35, 177, 0.575);
    text-align: center;
    position: relative; */
    /* height: 20vh; */
    animation: rainbow 25s linear;
    animation-fill-mode: forwards;
    /* animation: cubic-bezier(0.39, 0.575, 0.565, 1); */
}

.drop-shadow {
    filter: drop-shadow(0px 30px 8px black);
}

.Loading__item {
    width: 10vh;
    height: 10vh;
    grid-area: buscar;
    /* display: block;
    position: absolute;
    top: 10vh;
    left: 33vw; */

    height: 10vh;
    background-image: url("../../../assets/svg/loading.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    25% {
    }
    50% {
        transform: rotate(180deg) scale(0.93);
    }
    75% {
        /* transform:rotate(270deg)scale(0.8); */
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}
@keyframes rainbow {
    4% {
        background-color: rgba(40, 122, 7, 0.829);
    }
    25% {
        background-color: rgb(184, 184, 51, 0.9);
    }
    100% {
        background-color: rgb(201, 60, 60);
    }
}
