.profile-main {
  background-color: white;
}

.profile-main header {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  border-color: rgb(182, 177, 177);
}

.profile-main header img {
  height: 70px;
  width: 70px;
  margin: 1rem;
}

.profile-main header div {
  margin: 1.75rem 1rem 0.5rem 0;
  padding-top: 0.75rem;
}

.profile-main header div h3 {
  font-size: 18px;
  margin-bottom: 0.25rem;
}

.profile-main header div p {
  font-size: 12px;
  font-style: italic;
}

.categorias {
  padding: 1rem 0;
}

.categorias li {
  padding: 1rem 0.5rem 1rem 5rem;
  background-size: 1.25rem;
  background-position: 1.5rem;
  background-repeat: no-repeat;
}

.categorias li:active {
  filter: opacity(0.5);
}

.categorias a li h4 {
  font-size: 16px;
}

.categorias a li p {
  font-size: 14px;
  color: rgb(70, 67, 67);
}

.profile-data {
  background-image: url('../../assets/svg/informacion.svg');
}

.profile-pass {
  background-image: url('../../assets/svg/password.svg');
}

.profile-booking {
  background-image: url('../../assets/svg/reserva.svg');
}

.profile-tools {
  background-image: url('../../assets/svg/configuraciones.svg');
}

.profile-off {
  background-image: url('../../assets/svg/turn-off.svg');
}

/* PROFILE DATA */

.profile-data-main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-data-main img[alt='foto-de-usuario'] {
  width: 150px;
  margin: 1rem;
  border-radius: 70px;
}

.profile-data-main img[alt='boton-atras'] {
  position: absolute;
  width: 17px;
  top: 90px;
  left: 30px;
}

.photo-button {
  background-color: rgb(175, 175, 175);
  position: absolute;
  top: 200px;
  right: 110px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-image: url('../../assets/svg/camara.svg');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.profile-inputs {
  background-color: white;
  padding: 1.5rem 0;
}

.profile-inputs li {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0 0.5rem 4.5rem;
  background-repeat: no-repeat;
}

.profile-inputs li h4 {
  width: 180px;
}

.profile-inputs li h5 {
  padding: 0.25rem 0;
  font-weight: 100;
  color: rgb(107, 106, 106);
}

img[alt='boton-de-editar'] {
  width: 45px;
  padding: 0 0.75rem;
  margin-left: 1.5rem;
}

.profile-nickname {
  background-image: url('../../assets/svg/user-solid.svg');
  background-size: 1.25rem;
  background-position: 1.25rem center;
}

.profile-bio {
  background-image: url('../../assets/svg/biography.svg');
  background-size: 1.5rem;
  background-position: 1.25rem center;
}

.profile-email {
  background-image: url('../../assets/svg/email.svg');
  background-size: 1.25rem;
  background-position: 1.25rem center;
}
