@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');

/* MENU PROFILE*/
.profile {
  background-color: white;
  padding: 0.5rem 0 1rem 0;
  width: 90vw;
  max-width: 700px;
  margin-bottom: 1rem;
  overflow: scroll;
}

.profile-header {
  display: flex;
  padding: 0.5rem;
  border-bottom: 1px solid rgb(182, 177, 177);
}

.profile-header img {
  width: 70px;
  height: 70px;
}

.profile-header__info {
  width: 70%;
  padding: 1.25rem 0.5rem 0.5rem 0.5rem;
}

.profile-header__info h3 {
  font-size: 18px;
  margin-bottom: 0.25rem;
}

.profile-header__info h5 {
  font-size: 12px;
  font-style: italic;
  font-weight: 100;
}

.profile-main {
  background-color: white;
  padding: 1rem 0;
}

.profile-main__list > * {
  padding: 1rem 0.5rem 1rem 5rem;
  background-size: 1.25rem;
  background-position: 1.5rem;
  background-repeat: no-repeat;
}

.profile-main__list p {
  font-size: 14px;
}

.profile-main__list-data {
  background-image: url('../../assets/svg/informacion.svg');
}

.profile-main__list-pass {
  background-image: url('../../assets/svg/password.svg');
}

.profile-main__list-bookings {
  background-image: url('../../assets/svg/reserva.svg');
}

.profile-main__list-tools {
  background-image: url('../../assets/svg/configuraciones.svg');
}

.profile-main__list-delete {
  background-image: url('../../assets/svg/turn-off.svg');
}

@media (min-width: 450px) {
  .profile-main__list > * {
    padding-left: 6rem;
    background-size: 1.5rem;
    background-position: 2rem;
  }
  .profile-header img {
    width: 100px;
    height: 100px;
  }
  .profile-header__info {
    padding: 1.75rem 0.75rem 0.75rem 0.75rem;
  }
  .profile-header__info h3 {
    font-size: 22px;
  }
  .profile-header__info h5 {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  .profile {
    margin-top: 1rem;
  }
  .profile-main__list > * {
    padding: 1.5rem 1rem 1.5rem 8rem;
    background-size: 1.75rem;
    background-position: 2.25rem;
  }
  .profile-main__list h4 {
    font-size: 20px;
  }
  .profile-main__list p {
    font-size: 16px;
  }
  .profile-header img {
    width: 120px;
    height: 120px;
    margin-left: 3rem;
  }
  .profile-header__info {
    padding: 2rem 1rem 0.75rem 1rem;
  }
  .profile-header__info h3 {
    font-size: 28px;
  }
  .profile-header__info h5 {
    font-size: 16px;
  }
}

@media (min-width: 800px) {
  .profile {
    margin-top: 1.5rem;
  }
}

/* PROFILE DATA */

img[alt='boton-atras'] {
  width: 22px;
  margin: 1rem 0 0 1rem;
}
img[alt='foto-de-usuario'] {
  width: 150px;
  height: 150px;
  border-radius: 40%;
}
.profile-data__photo {
  width: 170px;
  margin: 0 auto;
  position: relative;
}
.profile-data__photo-edit {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  left: 120px;
  bottom: 0px;
  background: beige url('../../assets/svg/camara.svg') 0.5rem no-repeat;
  background-size: 1.8rem;
}
.profile-data__inputs {
  margin: 2rem 0;
}
.profile-data__inputs > * {
  padding: 1rem 0.5rem 1rem 5rem;
  background-size: 1.25rem;
  background-position: 1.5rem;
  background-repeat: no-repeat;
  display: flex;
}
.profile-data__inputs-nick {
  background-image: url('../../assets/svg/user-solid.svg');
  background-size: 1.25rem;
}
.profile-data__inputs-bio {
  background-image: url('../../assets/svg/biography.svg');
  background-size: 1.5rem;
}
.profile-data__inputs-email {
  background-image: url('../../assets/svg/email.svg');
  background-size: 1.5rem;
  margin-right: 2.75rem;
}
.profile-data__inputs :first-child {
  flex-grow: 1;
}
.profile-data__inputs :first-child h5 {
  padding: 0.25rem 0;
  font-weight: 100;
  color: rgb(182, 177, 177);
}
.profile-data__inputs :first-child h4 {
  padding: 0.25rem 0;
  border-bottom: 1px solid grey;
}
.edit-button {
  background-image: url('../../assets/svg/pen-solid.svg');
  background-position: 0.6rem;
  background-repeat: no-repeat;
  background-size: 1.25rem;
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

@media (min-width: 600px) {
  .profile-data__photo {
    width: 270px;
  }
  img[alt='foto-de-usuario'] {
    width: 250px;
    height: 250px;
  }
  .profile-data__photo-edit {
    width: 55px;
    height: 55px;
    left: 170px;
    background-size: 2rem;
    background-position: 0.75rem;
  }
  .profile-data__inputs > * {
    padding: 1.5rem 1rem 1.5rem 6rem;
    background-size: 1.75rem;
    background-position: 2rem 2.5rem;
  }
  .edit-button {
    background-size: 1.5rem;
  }
  .profile-data__inputs :first-child h5 {
    font-size: 16px;
  }
  .profile-data__inputs :first-child h4 {
    font-size: 20px;
  }
}
/* PROFILE PASS */

.profile-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 20px;
}
.profile-pass__form label {
  font-size: 16px;
}
.profile-pass__form input {
  margin-bottom: 1rem;
}

.profile-submit-button {
  border-radius: 2rem;
  font-size: 16px;
  padding: 0.25rem 0.5rem;
  font-weight: 200;
  background-color: rgb(49, 218, 49);
  margin: 0;
}
@media (min-width: 600px) {
  .profile-pass__form input {
    width: 230px;
  }
}
/* .profile-main > h4 {
  margin: 1rem 0;
  font-size: 22px;
  text-align: center;
}

.change-pass-form {
  margin-bottom: 2rem;
}

.change-pass-form input {
  margin-bottom: 1rem;
}

.button-edit-pass {
  background-color: black;
  color: white;
  border-radius: 2rem;
  font-size: 16px;
  font-weight: 200;
  text-shadow: none;
  padding: 0.25rem 0.5rem;
  width: 100px;
} */

/* PROFILE BOOKINGS */

.flight-offer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.flight-offer li {
  border: 1px solid black;
  display: flex;
  height: 80px;
  flex-grow: 1;
  margin: 0.5rem 0.5rem;
  background-color: #c4dfe6;
}

.flight-offer li section {
  align-content: center;
  border: 1px solid black;
}

.booking-info {
  flex-grow: 6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: url('../../assets/svg/long-arrow-alt-right-solid.svg');
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position-x: 6.25rem;
  background-position-y: 1.15rem;
}

.booking-info p {
  max-width: min-content;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
}

.booking-info div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

p.booking-iata {
  padding: 1.25rem 0.5rem 0 0.5rem;
}

p.booking-price {
  font-size: 14px;
}
p.booking-id {
  font-size: 12px;
  font-weight: 100;
}

.booking-date {
  flex-grow: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #66a5ad;
}

.booking-date p {
  max-width: min-content;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
}

.booking-info.arrow {
  background-position-x: 7rem;
}
