.Form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Form [type="submit"] {
    background-color: var(--blue);
    color: var(--yellow);
    display: block;
    font-weight: bold;
    padding: 1rem;
    text-decoration: none;
    text-shadow: var(--button-text-shadow);
    width: 100%;
}

.Form input {
    border-top-left-radius: 5rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 5rem;
    background-position: 1rem center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    border: none;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    width: 70vw;
}
.Form input:invalid {
    border: 2px solid var(--invalid-color);
}

.Form .button {
    border: 4px groove;
    border-color: var(--input-border-color);
    box-shadow: var(--input-box-shadow);
    margin: 1rem;
    max-width: 150px;
    text-align: center;
    width: 50vw;
}

.userImage {
    height: 7rem;
}
#username {
    background-image: url("../../assets/svg/user-solid.svg");
    background-size: 1rem;
}
#email {
    background-image: url("../../assets/svg/email.svg");
    background-size: 1.2rem;
}
#password {
    background-image: url("../../assets/svg/password.svg");
    background-size: 1.5rem;
}
#repeatPassword {
    background-image: url("../../assets/svg/repeat.svg");
    background-size: 1.2rem;
}
#bio {
    height: 2.5rem;
    overflow: auto;
    background-image: url("../../assets/svg/biography.svg");
    background-size: 1.5rem;
}
#originAirport {
    background-image: url("../../assets/svg/airport-tower.svg");
    background-size: 1.2rem;
    background-position: 0.5rem;
}
