/* ABOUT */
.about h3 {
    margin-top: 2rem;
}

.about-logo {
    border-radius: 50%;
    width: 150px;
    padding: 0.5rem;
}

.about p {
    margin-bottom: 1rem;
}
.aboutLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
