@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap');

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
  display: grid;
  place-content: center;
}

.modal {
  background: white;
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 500px;
  overflow: scroll;
}

.modal-container {
  margin: 2rem;
}

.modal button {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  width: 100px;
  margin: 0;
  padding: 0.25rem;
  font-size: 14px;
  font-family: 'atkinson';
  text-shadow: none;
}

.update-error {
  color: red;
}

form label {
  font-weight: bold;
  font-size: 20px;
}

#update-nickname {
  margin: 1rem 0;
}

#update-bio {
  margin: 1rem 0;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

.button-close {
  background-color: rgb(255, 10, 10);
}

.button-submit {
  background-color: rgb(22, 209, 22);
}

/* MODAL EDIT PHOTO */

.inputfile + label {
  color: black;
}

.inputfile + label figure {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  margin: 0 auto 10px;
}

.inputfile + label svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}

.container-input {
  text-align: center;
  border-radius: 6px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.inputfile {
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.inputfilelabel {
  font-size: 16px;
  font-weight: normal;
  font-family: 'Lato';
}

/* MODAL GETBOOKINGS */

.modal-booking-header {
  display: flex;
  flex-direction: row;
}

.booking-header-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.25rem 0.5rem 0.5rem 3rem;
  background-color: rgb(0, 118, 228);
  background-image: url('../../assets/svg/plane-arrival-solid.svg');
  background-repeat: no-repeat;
  background-size: 1.75rem;
  background-position: 1rem 0.5rem;
}

.booking-header-1 :first-child {
  font-size: 24px;
  margin: 0 0.25rem;
}

.booking-header-1 :last-child {
  font-size: 18px;
  font-weight: 500;
  padding-top: 0.4rem;
  color: white;
}

.booking-header-2 {
  width: 100%;
  padding: 0.5rem;
  background-color: yellow;
  display: flex;
  justify-content: flex-end;
}

.booking-header-2 h5 {
  font-size: 10px;
  padding-top: 0.5rem;
}

.booking-towns {
  display: flex;
  flex-direction: row;
}

.booking-towns div h1 {
  font-size: 36px;
}
.booking-towns div h5 {
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 0.25rem;
  height: 20px;
}

.booking-towns div {
  min-width: 50%;
  padding: 0.5rem 1.25rem;
}

.booking-towns-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.booking-towns-2 h5 {
  text-align: end;
}

.modal-booking-main {
  background-color: #b4b4b4;
}

.modal-booking-logos {
  padding: 0.75rem 1.75rem 0 1.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-booking-main section img {
  width: 65px;
  transform: rotate(45deg);
}

.modal-booking-main section img[alt='silueta-avion'] {
  margin-right: 0.75rem;
}

.modal-booking-flight-data {
  padding: 0 0.75rem 0.5rem 0.75rem;
  display: flex;
  justify-content: space-between;
}

.modal-booking-flight-data div:nth-child(2) {
  height: min-content;
  width: min-content;
  align-self: flex-end;
  font-size: 20px;
}
.modal-booking-flight-data div:nth-child(2) h5 {
  text-align: center;
}

.modal-booking-flight-data div:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.modal-booking-flight-data div h5 {
  font-weight: 100;
  padding: 0.5rem 0;
}

.modal-booking-flight-data div h4 {
  font-size: 14px;
  padding: 0.15rem 0;
}

.modal-booking-aditional-data {
  padding: 0.5rem 1rem 0 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.modal-booking-aditional-data div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;
  padding: 0 0.5rem;
}

.modal-booking-aditional-data div h5 {
  font-weight: 100;
}

.modal-booking-aditional-data div h4 {
  padding: 0.75rem 0.5rem;
}

.modal-booking-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5rem 0;
}

.modal-booking-footer * {
  padding: 0.25rem;
}

.modal-booking-footer > h5 {
  font-size: 12px;
  width: 65vw;
}

.modal-booking-footer div {
  width: 20vw;
  margin-right: 0.75rem;
}

.modal-booking-footer div h5 {
  font-weight: 100;
  margin-bottom: 0.25rem;
  border-bottom: 1px solid black;
}

h4.delete-account {
  text-align: center;
  font-size: 24px;
}

h5.delete-account {
  text-align: center;
  font-weight: 100;
  font-size: 12px;
  margin: 0.75rem 0;
}

button.delete-account {
  margin: 0 0.5rem;
}
