
.modal-wrapper {
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(5px);
    z-index: 1000;
    display: grid;
    place-content: center;
}

.modal {
    background: white;;
    padding: 2rem;
}