.app-header {
  align-items: center;
  background-color: #fff;
  background-image: url('../../assets/svg/plane-arrival-solid.svg');
  background-position: 0.5rem center;
  background-repeat: no-repeat;
  background-size: 2rem;
  display: flex;
  grid-area: header;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 2.5rem;
  z-index: 1337;
}

.app-header h1 {
  margin-left: 2.75rem;
  padding-top: 0.25rem;
}

.burguer {
  padding: 0.25rem;
  height: 2rem;
  margin: 0 1rem;
}

@media (min-width: 600px) {
  .app-header {
    height: 3rem;
    background-size: 2.5rem;
  }
  .app-header h1 {
    margin-left: 3.5rem;
    padding-top: 0.25rem;
    font-size: 38px;
  }
  .app-header small {
    font-size: 26px;
  }
  .burguer {
    height: 2.25rem;
  }
}

@media (min-width: 800px) {
  .app-header {
    height: 3.5rem;
    background-size: 3rem;
    background-position: 0.75rem center;
  }

  .app-header h1 {
    margin-left: 4rem;
    font-size: 42px;
  }
  .app-header small {
    font-size: 30px;
  }
  .burguer {
    height: 2.5rem;
  }
}
