/*--------------------------------------------------------- Firefox */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

details {
    display: block;
}

summary {
    display: list-item;
}