<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>search</title>
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <header class="app-header">
      <h1><a href="../templates"></a> App Name</h1>
      <nav>
        <button>Menu</button>
        <ul>
          <li><a href="#">Log In</a></li>
          <li><a href="#">Sign In</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Flight Finder</h2>
      <section>
        <button>Round Trip</button>
        <button>Single way</button>
        <form action="" class="flight-finder round-trip">
          <fieldset>
            <label for="airport-origin">From</label>
            <input
              type="text"
              name="airport-origin"
              id="airport-origin"
              placeholder="Origin"
              required
            />
            <label for="airport-destination">To</label>
            <input
              type="text"
              name="airport-destination"
              id="airport-destination"
              placeholder="Destination"
              required
            />
          </fieldset>

          <fieldset>
            <label for="departure-date">Departure</label>
            <input type="date" name="departure-date" id="departure-date" />
            <label for="return-date">return</label>
            <input type="date" name="return-date" id="return-date" />
            <label for="flight-passengers">Passengers</label>
            <input
              type="number"
              name="flight-passengers"
              id="flight-passengers"
              min="1"
            />
          </fieldset>
          <button class="submit">Search</button>
        </form>
      </section>
    </main>
    <script src="./js/search.js"></script>
  </body>
</html>
