<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User account</title>
    <link rel="stylesheet" href="../public/css/styles.css" />
    <link rel="stylesheet" href="./css/user.css"">
  </head>

  <body>
    <header class="app-header">
      <h1><a href="../templates"></a> App Name</h1>
      <nav>
        <button>Menu</button>
        <ul class="nav-open">
          <li><a href="#">Log In</a></li>
          <li><a href="#">Sign In</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <header>
          <img
            class="user-profile"
            src="https://source.unsplash.com/200x200/?profile"
            alt="profile picture"
          />

          <h1>Hola ${userName}</h1>
          <form action="">
            <label for="email">Email</label>
            <input type="text" name="user-email>
            <label for="airport-origin">Origin Airport</label>
            <input type="text" name="airpot-origin" id="airport-origin" />
          </form>
        </header>
        <section></section>
      </article>
    </main>
  </body>
</html>
