/* ! IMPORTS */

/* RESET */

@import './reset.css';

/* COMPATIBILITY */

@import './comp/ie.css';
@import './comp/firefox.css';
@import './comp/ios.css';

/* FONTS */

@font-face {
  font-family: 'atkinson';
  src: url('./fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
    url('./fonts/Atkinson-Hyperlegible-Regular-102.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --animation-time: 2s;
  --basecolor: #fff;
  --inputcolor: #dbd8d8;
  --input-border-color: #a3939369;
  --input-box-shadow: 3px 2px 7px #0505055b;
  --inset-box-shadow: inset 3px 2px 7px #0505055b;
  --button-text-shadow: 2px 2px 3px #000000;
  --blue: #3f6abe;
  --yellow: #f9e24c;
  --inactive-color: #808080;
}
* {
  font-family: 'Atkinson', sans-serif;
}
body {
  max-width: 100vw;
}

/*! BASIC TITLES */

h1 small {
  color: var(--inactive-color);
  font-size: 1.5rem;
}
h3 {
  font-size: 2rem;
}
h5 {
  padding: 0 0.2rem;
  text-align: left;
}
img {
  max-width: 100%;
}

/*! BASIC FORM */
form {
  display: grid;
  gap: 0.5rem;
  justify-items: center;
  padding: 0.5rem;
}

input:invalid {
  border: 2px solid crimson;
}

option {
  border: 1px solid red;
  background-color: var(--inputcolor);
}
input {
  background-color: var(--inputcolor);
  border: none;
  padding: 0.5rem;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 0.6rem center;
  box-shadow: var(--inset-box-shadow);
  color: black;
}

button,
input[type='submit'] {
  width: 40vw;
  border: 4px groove;
  border-color: var(--input-border-color);
  box-shadow: var(--input-box-shadow);
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem;
  max-width: 320px;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  /* text-shadow: var(--button-text-shadow); */
}
input[type='submit'] {
  background-color: var(--blue);
  color: var(--yellow);
}

/* button.update {
  background-color: var(--yellow);
}
button.update {
  background-color: #3f6abe;
}
button.cancel {
  background-color: #41b812;
}
button.deactivate {
  background-color: orange;
}
button.delete {
  background-color: red;
  color: white;
} */

/*!! IVI format */
.radius {
  border-top-left-radius: 5rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 5rem;
}
.focus {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 200ms;
  transform: scale(1);
}

.blur {
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 450ms;
  filter: blur(1.5px);
  transform: scale(0.8);
}

/* APP STRUCTURE */

.App {
  align-content: center;
  align-items: center;
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  height: 100%;
  justify-content: space-between;
  justify-items: center;
}

/* APP  */
.app-main {
  align-items: start;
  background-attachment: fixed;
  background-color: var(--basecolor);
  background-image: url('../assets/img/bgi.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-area: main;
  min-height: 95vh;
  justify-content: center;
  padding-top: 3rem;
  position: absolute;
  width: 100vw;
}

.app-footer {
  background-color: var(--basecolor);
  color: var(--blue);
  grid-area: footer;
  height: 5vh;
  padding: 1rem;
  text-align: center;
  width: 100vw;
}
.app-footer ul {
  display: flex;
  justify-content: space-evenly;
}
