article {
    background-color: rgba(255, 255, 255, 0.829);
    width: 90vw;
    max-width: 700px;
    padding: 0 1rem 1rem;
    text-align: center;
}

article h2 {
    font-size: 2rem;
}

article h3 {
    font-size: 1.5rem;
}
