@import "./reset.css";

/* VARIABLES DE LA APP */
:root {
  --dark1: #1a494c;
  --medium1: #266e73;
  --bright1: #31939b;

  --dark2: #aeb101;
  --medium2: #dadd03;
  --bright2: #fbff00;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
