input[type='number'] {
  width: 35vw;
}

input[type='number']#passengers {
  background-image: url('../../assets/svg/user-friends-solid.svg');
}
input[type='button']#escales {
  background-image: url('../../assets/svg/route-solid.svg');
}
input[type='number']#price {
  background-image: url('../../assets/svg/funnel-dollar-solid.svg');
}

/* TODO: Hay que buscar como resolver esta vaina */
/* ! ESTO ES UNA LIADA */
select {
  background-color: #ccc;
}
/* 
  option {
    background-size: contain;
    background-repeat: no-repeat;
  }
  option[value="oneWay"] {
    background-image: url("../assets/svg/long-arrow-alt-right-solid.svg");
  }
  option[value="roundTrip"] {
    background-image: url("../assets/svg/exchange-alt-solid.svg");
  }
   */
input[value='Buscar'] {
  color: #fff;
  background-color: #3f6abe;
}

#origin {
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 0.2rem center;
  background-image: url('../../assets/svg/plane-departure-solid.min.svg');
}
#destination {
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 0.2rem center;
  background-image: url('../../assets/svg/plane-arrival-solid.svg');
}
fieldset.origin,
fieldset.destination,
fieldset.date {
  grid-template-columns: 1fr;
}
input[value='Buscar'] {
  color: #fff;
  background-color: #3f6abe;
}

.Response-header {
  padding: 0.2rem;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.829);
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: 'air filter' 'date filter';
}
.Response__airports {
  grid-area: air;
  font-size: 1.8rem;
  justify-content: space-between;
  display: flex;
  border: 1px solid red;
}
.Response__dates {
  grid-area: date;
  justify-content: stretch;
  gap: 1rem;
  font-size: 1rem;
  display: flex;
  border: 1px solid blue;
}

.Response__filters {
  grid-area: filter;
  height: auto;
  border: 1px solid green;
  display: flex;
  grid-area: filter;
}

.Response-filter__stops {
  background-image: url('../../assets/svg/route-solid.svg');
}
.Response-filter__duration {
  background-image: url('../../assets/svg/stopwatch-solid.svg');
}
.Response-filter__price {
  background-image: url('../../assets/svg/funnel-dollar-solid.svg');
}

.filter {
  background-repeat: no-repeat;
  background-size: 1.8rem;
  background-position: center center;
  display: block;
  height: 100%;
  width: 33%;
}
.active {
  display: block;
  background-color: #f8e24c;
}
.sort {
  border-bottom: 3px dashed black;
}
.reverse {
  border-top: 3px dashed black;
}
.roundTrip-icon {
  background-image: url('../../assets/svg/exchange-alt-solid.svg');
  width: 20%;
  background-repeat: no-repeat;
  background-size: 1.3rem;
  background-position: center center;
}
.pencil-icon {
  background-image: url('../../assets/svg/pen-solid.svg');
  background-repeat: no-repeat;
  width: 20%;
  background-size: 1.3rem;
  background-position: center center;
}

.Response-list {
  display: grid;
  gap: 0.5rem;
}
.hide {
  display: none;
}
.Flight {
  border: 1px solid green;
  padding: 1rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.829);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 'itinerary offer' 'itinerary offer';
  align-items: center;
}

.Flight > * {
}
.offer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: offer;
  font-size: 1.5rem;
}

.itinerary {
  gap: 0.2rem;
  display: flex;
  flex-direction: column;
}
.itinerary > * {
  justify-content: center;
  display: flex;
  gap: 1rem;
}
.ports {
  font-size: 12px;
}
.company {
  font-size: 0.8rem;
}
.heart {
  background-image: url('../../assets/svg/heart-regular.svg');
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
}
.stops1 {
  width: 3rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/svg/stop1.svg');
}
.stops2 {
  width: 3rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../../assets/svg/stop2.svg');
}
