<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hola mundo</title>
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <header class="app-header">
      <h1><a href="/">FLanders</a></h1>
      <img class="burguer" src="./assets/svg/bars-solid.svg" alt="menu" />
    </header>
    <nav>
      <ul>
        <li><a href="/login.html">Login</a></li>
        <li><a href="/signin.html">Registro</a></li>
        <li><a href="/about.html">About</a></li>
      </ul>
    </nav>
    <main>
      <section>
        <article>
          <h2>Buscador</h2>
          <form>
            <fieldset>
              <select name="trip" id="trip">
                <option value="oneWay">Solo ida</option>
                <option value="roundTrip">Ida y Vuelta</option>
              </select>
              <!-- <label for="passengers">Pasajeros:</label> -->
              <input
                type="number"
                name="passengers"
                id="passengers"
                placeholder="1"
              />
            </fieldset>
            <fieldset>
              <!-- <label for="escales">Escalas</label> -->
              <input
                type="number"
                name="escales"
                id="escales"
                placeholder="No limit"
              />
              <input
                type="number"
                name="price"
                id="price"
                placeholder="No limit"
              />
            </fieldset>
            <fieldset class="origin">
              <label for="origin">Origen</label>
              <input
                type="text"
                name="origin"
                id="origin"
                placeholder="SCQ - Lavacolla"
              />
            </fieldset>
            <fieldset class="destination">
              <label for="destination">Destino</label>
              <input
                type="text"
                name="destination"
                id="destination"
                placeholder="FCO - Fiumiccino"
              />
            </fieldset>
            <fieldset class="date">
              <label for="sort">Salida</label>
              <input type="date" name="sort" id="sort" />
              <label for="return">Retorno</label>
              <input type="date" name="return" id="return" />
            </fieldset>
            <input type="submit" value="Buscar" />
          </form>
        </article>
      </section>
    </main>
  </body>
</html>
