<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FLanders Sign-In</title>
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <header class="app-header">
      <h1><a href="/">FLanders</a></h1>
      <img class="burguer" src="./assets/svg/bars-solid.svg" alt="menu" />
    </header>
    <nav>
      <ul>
        <li><a href="/login.html">Login</a></li>
        <li><a href="/signin.html">Registro</a></li>
        <li><a href="/about.html">About</a></li>
      </ul>
    </nav>
    <main>
      <section class="sign-in">
        <article>
          <h2>Registro</h2>
          <form>
            <img
              class="userImage"
              src="./assets/svg/imagen-de-usuario-con-fondo-negro.svg"
              alt="User image"
            />
            <fieldset>
              <input
                type="text"
                name="username"
                id="username"
                placeholder="User Name"
              />
            </fieldset>
            <fieldset>
              <input
                type="email"
                name="userMail"
                id="userMail"
                placeholder="Em@il"
              />
            </fieldset>
            <fieldset>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Enter Password"
              />
            </fieldset>
            <fieldset>
              <input
                type="password"
                name="repeatPassword"
                id="repeatPassword"
                placeholder="Repeat Password"
              />
            </fieldset>
            <fieldset>
              <input type="text" name="bio" id="bio" placeholder="Bio" />
            </fieldset>

            <input type="submit" value="Registro" />
          </form>
        </article>
      </section>
    </main>
  </body>
</html>
