.credentialsForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.credentialsForm [type="submit"] {
    background-color: #3f6abe;
    color: #f9e24c;
}

.credentialsForm input {
    background-color: rgb(196, 196, 196);
    background-position: 0.2rem center;
    background-repeat: no-repeat;
    background-size: 1.5rem;
    border: none;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    width: 70vw;
}

.credentialsForm input[type="submit"] {
    max-width: 150px;
}

.credentialsForm input:invalid{
    border:2px solid crimson;
  }
/* CREDENCIALES */
.userImage {
    height: 7rem;
}
#username {
    background-image: url("../../assets/svg/user-solid.svg");
    background-size: 1rem;
    background-position: 0.5rem;
}
#userMail {
    background-image: url("../../assets/svg/email.svg");
    background-size: 1.2rem;
    background-position: 0.5rem;
}
#password {
    background-image: url("../../assets/svg/password.svg");
    background-size: 1.5rem;
    background-position: 0.5rem;
}
#repeatPassword {
    background-image: url("../../assets/svg/repeat.svg");
    background-size: 1.2rem;
    background-position: 0.5rem;
}
#bio {
    height: 99px;
    overflow: auto;
    background-image: url("../../assets/svg/biography.svg");
    background-size: 1.5rem;
    background-position: 0.5rem;
}
#originAirport {
    background-image: url("../../assets/svg/airport-tower.svg");
    background-size: 1.2rem;
    background-position: 0.5rem;
}
