.userImage {
    height: 7rem;
}
#username {
    background-image: url("../../assets/svg/user-solid.svg");
    background-size: 1rem;
    background-position: 1rem;
}
#email {
    background-image: url("../../assets/svg/email.svg");
    background-size: 1.2rem;
    background-position: 1rem;
}
#password {
    background-image: url("../../assets/svg/password.svg");
    background-size: 1.5rem;
    background-position: 1rem;
}
#repeatPassword {
    background-image: url("../../assets/svg/repeat.svg");
    background-size: 1.2rem;
    background-position: 1rem;
}
#bio {
    height: 2.5rem;
    overflow: auto;
    background-image: url("../../assets/svg/biography.svg");
    background-size: 1.5rem;
    background-position: 1rem;
}
#originAirport {
    background-image: url("../../assets/svg/airport-tower.svg");
    background-size: 1.2rem;
    background-position: 1rem;
}
