.Form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Form [type="submit"] {
    background-color: #3f6abe;
    color: #f9e24c;
    display: block;
    width: 100%;
    font-weight: bold;
    padding: 1rem;
    text-decoration: none;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.Form input {
    border-top-left-radius: 5rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 5rem;
    background-color: rgb(196, 196, 196);
    background-position: 1rem center;

    background-repeat: no-repeat;
    background-size: 1.5rem;
    border: none;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    width: 70vw;
    box-shadow: inset 3px 2px 7px rgba(5, 5, 5, 0.542);
}
.Form .buttonWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: inherit;
}
.Form .button {
    text-align: center;
    max-width: 150px;
    width: 50vw;

    margin: 1rem;
    border: 4px groove;
    border-color: rgba(163, 147, 147, 0.411);
    box-shadow: 3px 2px 7px rgba(5, 5, 5, 0.542);
}
.button-blue {
    background-image: radial-gradient(
        ellipse closest-side at 20px 10px,
        rgb(136, 136, 241) 0%,
        rgb(74, 74, 247) 80%,
        blue 100%
    );
}

.credentialsForm input:invalid {
    border: 2px solid crimson;
}
/* CREDENCIALES */
.userImage {
    height: 7rem;
}
#username {
    background-image: url("../../assets/svg/user-solid.svg");
    background-size: 1rem;
}
#email {
    background-image: url("../../assets/svg/email.svg");
    background-size: 1.2rem;
}
#password {
    background-image: url("../../assets/svg/password.svg");
    background-size: 1.5rem;
}
#repeatPassword {
    background-image: url("../../assets/svg/repeat.svg");
    background-size: 1.2rem;
}
#bio {
    height: 2.5rem;
    overflow: auto;
    background-image: url("../../assets/svg/biography.svg");
    background-size: 1.5rem;
}
#originAirport {
    background-image: url("../../assets/svg/airport-tower.svg");
    background-size: 1.2rem;
    background-position: 0.5rem;
}
